{% extends 'base.html.twig' %}

{% block title %}PORTFOLIO{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
   <table>
    <thead>
        <tr>
            <th>Cumpleaños</th>
            <th>Género</th>
            <th>Country</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Usuario</th>
            <th>Sentimental</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
    {% for data in portfolio %}
        <tr>
            <td>{{ data.cumpleanos|date('Y-m-d') }}</td>
            <td>{{ data.genero }}</td>
            <td>{{ data.country.nombre }}</td>
            <td>{{ data.likes }}</td>
            <td>{{ data.dislikes }}</td>
            <td>{{ data.direccion }}</td>
            <td>{{ data.telefono }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.usuarios.nombre }} {{ data.usuarios.apellido }}</td>
            <td>{{ data.sentimental.nombre }}</td>
            <td>{{ data.level.nombre }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
