{% extends 'base.html.twig' %}

{% block title %}Lista de Usuarios
{% endblock %}

{% block body %}
	<style></style>

<div class="container">
	<h1>Lista de Usuarios</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Fecha de Ingreso</th>

			</tr>
		</thead>
		<tbody>
			{% for usuario in usuarios %}
				<tr>
					<td>{{ usuario.id }}</td>
					<td>{{ usuario.nombre }}</td>
					<td>{{ usuario.apellido }}</td>
					<td>{{ usuario.email }}</td>
					<td>{{ usuario.createdAd|date('Y-m-d H:i:s') }}</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>{% endblock %}
