{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
<style>
   
</style>

<div class="example-wrapper">
  <tbody>
			{% for album in albums %}
				<tr>
					<td>{{ album.titulo }}</td>
					<td>{{ album.contenido }}</td>
					<td>{{ album.usuariosAlbum.nombre }}</td>
					<td>{{ album.usuariosAlbum.apellido }}</td>
					<td>{{ album.usuariosAlbum.email }}</td>

				</tr>
</div>
	{% endfor %}
		</tbody>
	</table>
</div>{% endblock %}

