{% extends 'base.html.twig' %}

{% block title %}Mensajes
{% endblock %}

{% block body %}
	<style></style>

	<div class="example-wrapper">

		<tbody>
			{% for mensaje in mensajes %}
				<tr>
					<td>{{ mensaje.contenido}}</td>
					<td>{{ mensaje.usuariosMensajes.nombre }}</td>
					<td>{{ mensaje.usuariosMensajes.apellido }}</td>
					<td>{{ mensaje.usuariosMensajes.nombre }}</td>
					<td>{{ mensaje.usuariosMensajes.apellido }}</td>


				</tr>
			</div>
		{% endfor %}
	</tbody>
</table></div>{% endblock %}
